body{
    background-color:  #e0ebeb;
    font-family: 'Londrina Sketch', cursive;
}
.foto{
    width: 100%;
    
}
.foto img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 40%;
}
.nome{
    width: 100%;
    height: 100px;

}
.nome h1{
    font-size: 90px;
    text-align: center;
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.links li{
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.links li:hover {
	border-color: #C78C19;
}

.links li:active {
	border-color: #088C19;	
}

.links li:hover h2 {
	font-size: 34px;
}

.links h2 {
	font-size: 30px;
	font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.links p{
    text-decoration: none;
    color: black;
   
}

.links2{
    width: 940px;
	margin: 0 auto;
}
.links2 li{
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.links2 li:hover {
	border-color: #C78C19;
}

.links2 li:active {
	border-color: #088C19;	
}

.links2 li:hover h2 {
	font-size: 34px;
}

.links2 h2 {
	font-size: 30px;
	font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.links2 p{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
	background: #c1d7d7; 
	padding: 60px 10px;
    
}
footer p{
    color: black;
    font-family: cursive;
}
