body{
    background: linear-gradient( #ffffff, #f2f2f2,#e6e6e6,#d9d9d9);
    font-family: 'Fira Sans Condensed', sans-serif;
}
.foto{
    width: 100%;
    height: 350px; 
}
.foto img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}
.nome{
    position: relative;
    top:50%;
}
.nome h1{
    font-size: 90px;
    text-align: center;
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.links li{
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.links li:hover {
	border-color: #C78C19;
}

.links li:active {
	border-color: #088C19;	
}

.links li:hover h2 {
	font-size: 34px;
}

.links h2 {
	font-size: 30px;
	font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.links p{
    text-decoration: none;
    color: black;
   
}
.links li a{
    text-align: center;
    text-decoration: none;
}

.links-curriculos h6{
    display: inline;
    text-transform: uppercase;
    color: #000000; 
}
.links-curriculos-portugues:hover{
    text-decoration: underline;
    color: #000000;
}
.links-curriculos-ingles:hover{
    text-decoration: underline;
    color: #000099;
}
.links-curriculos img{
    width: 20px;
    height: 20px;    
}
.links2{
    width: 940px;
	margin: 0 auto;
}
.links2 li{
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.links2 li:hover {
	border-color: #C78C19;
}

.links2 li:active {
	border-color: #088C19;	
}

.links2 li:hover h2 {
	font-size: 34px;
}

.links2 h2 {
	font-size: 30px;
	font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.links2 p{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
	background: #d9d9d9; 
	padding: 60px 10px;
    bottom: 0;
}
footer p{
    color: black;
    font-family: cursive;
}
